body {
  background-color: blueviolet;
  margin: 0;
}

div {
  /* margin: 30px auto; */
}

#primeiro-bloco {
  background-color: lightblue;
  width: 50%;
  height: 200px;
  padding: 20px 30px 50px 30px;
  /*padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 10px;*/
  border: 20px solid black;
  box-sizing: border-box;
  margin: 50px 0 20px 0;
}

h1 {
  text-align: center;
}

#segundo-bloco {
  background-color: burlywood;
  width: 600px;
  padding: 20px 0;
  border: 5px solid red;
}

#segundo-bloco h1 {
  text-align: center;
}
