/* Breakpoint para smartphones */
/* Media query / Media rule */
@media screen and (max-width: 640px) {
  html {
    font-size: 14px;
  }

  header {
    padding: 10px 0;
  }

  header h1 {
    margin: 10px 0;
  }

  #main {
    flex-direction: column;
  }

  #menu,
  #content {
    width: 100%;
  }

  #menu {
    padding: 10px 0;
  }

  #menu span {
    display: none;
  }

  #menu ul {
    display: flex;
    margin: 0;
    justify-content: center;
    gap: 30px; /* lacuna entre os itens deste contêiner */
  }

  #content {
    padding: 15px 10px;
    box-sizing: border-box;
  }

  .movie-card {
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
    border-radius: 25px;
    gap: 20px;
  }

  .movie-card img,
  .movie-card span {
    width: 100%;
  }

  .movie-card span {
    padding: 0;
    text-align: center;
  }

  footer {
    padding: 20px 0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #main {
    flex-direction: column;
  }

  #menu,
  #content {
    width: 100%;
    box-sizing: border-box;
  }

  #menu {
    padding: 10px 0;
  }

  #menu span {
    display: none;
  }

  #menu ul {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
}
