html {
  font-size: 16px;
}

body {
  margin: 0;
}

header {
  background-color: var(--header-color);
  padding: 30px 0;
}

header h1 {
  text-align: center;
  font-family: "logo";
  color: #fff;
  font-size: 3rem;
  text-shadow: 3px 3px 5px #000;
}

#main {
  display: flex;
  /*flex-direction: row;*/
}

#menu {
  width: 20%;
  background-color: var(--menu-color);
  color: #fff;
  padding: 20px 10px;
}

#menu span {
  font-family: "bold";
  font-size: 1.5rem;
}

#menu ul {
  list-style: none;
  padding-left: 0;
}

#menu li {
  font-family: "regular";
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1rem;
}

#menu li:hover {
  color: #555;
}

#content {
  width: 80%;
  padding: 30px 20px;
  background-color: var(--content-color);
}

#content-title {
  font-family: "bold";
  text-align: center;
  font-size: 2rem;
}

.movie-card {
  background-color: var(--movie-card-color);
  border-radius: 50px;
  width: 70%;
  margin: 50px auto;
  display: flex;
  padding: 40px;
}

.movie-card img {
  width: 50%;
}

.movie-card span {
  width: 50%;
  padding: 0 20px;
  font-family: "regular";
  font-size: 1rem;
}

footer {
  background-color: var(--footer-color);
  padding: 50px 20px;
}

footer span {
  color: #fff;
  font-family: "bold";
  font-size: 1rem;
}
